<div class="middleContent">
  <div id="contour">
    <p>component #4 - middle content (breakpoint at 992px)</p>
    <div class="content">
      <h2>Welcome to my Responsive Blog !</h2>
      <div class="first">
        <p>
          You can try to move it using your navigator's devtool (ctrl+maj+i on google chrome)<br>
          As you can see, I've noted several breakpoint on each of the divs, It is the value in pixel (defined by
          bootstrap) at which the elements of the DOM change location and shape.
          <br><br>
          For Mr. GIBOU RIBAUD, this site is translated into English because I find that it represents what responsive
          is and I intend to share it.
          <br><br>
          You can see in the News div that depending on the size of the screen, the different news collapse or not, and
          their content adapts. In addition, the divs are on a horizontal plane and stack when the screen becomes too
          small, without overlapping.
          <br><br>
          The rest of this introduction will be in Lorem Ipsum to have an example of scroll with the top menu still
          visible.
          <br><br><br>
        </p>
      </div>
      <div class="second">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet blandit lacinia. Donec tempus, orci at
          rhoncus dapibus, felis diam maximus arcu, tristique mollis quam diam nec est. In leo mauris, pulvinar quis
          venenatis a, tristique sit amet augue. Vestibulum viverra diam id nulla hendrerit sodales. Vestibulum ante
          ipsum
          primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris et vestibulum sapien, quis egestas
          tellus. Proin mollis lacinia porta.
          <br><br>
          Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Nam sed
          ultrices sem. Cras tristique metus ac vestibulum vehicula. In vulputate neque aliquam nisi scelerisque
          accumsan.
          Suspendisse id elit a ex sodales ultrices ut ut lectus. Maecenas non orci consectetur, suscipit magna id,
          scelerisque odio. In vel nulla ullamcorper, mattis erat sodales, feugiat turpis. Pellentesque eu sapien a
          augue
          posuere elementum dignissim id elit. Sed nulla lacus, tristique aliquet ipsum vel, tincidunt feugiat felis.
          Aliquam ante turpis, tempus vel condimentum in, dapibus ut enim. Praesent ac ante non lacus viverra malesuada
          a
          quis ex. Cras hendrerit ex risus. Ut viverra vitae ligula vitae faucibus.
          <br><br>
          Donec sollicitudin sem dolor, ut malesuada nibh commodo a. Sed mollis iaculis diam, vitae auctor ligula
          tincidunt accumsan. Donec pellentesque lacus eget arcu aliquam convallis. Nam suscipit condimentum libero a
          pellentesque. Donec rutrum pulvinar orci, id ullamcorper diam aliquam sed. Sed enim nunc, placerat sit amet
          nulla vitae, iaculis faucibus lectus. Donec gravida urna vitae lorem cursus congue. Cras tellus orci,
          ullamcorper ac justo non, tempor aliquet risus. Donec sodales vulputate nibh, finibus maximus ex egestas id.
          In
          luctus commodo massa. Aliquam rutrum efficitur nunc aliquet dictum. Praesent vestibulum nibh orci, finibus
          convallis diam sollicitudin sed. Morbi interdum turpis vitae commodo convallis. Duis aliquet nisi nec ipsum
          elementum molestie nec ut erat. Phasellus porta metus in mi placerat pulvinar.
        </p>
      </div>
    </div>
  </div>
</div>
