<div class="container">

  <div class="row">
    <div class="col-md-12">
      <app-component1-menu></app-component1-menu>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <app-component2-left-sidebar></app-component2-left-sidebar>
    </div>
    <div class="col-lg-6">
      <app-component4-middle-content></app-component4-middle-content>
    </div>
    <div class="col-lg-3">
      <app-component3-right-sidebar></app-component3-right-sidebar>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-component5-footer></app-component5-footer>
    </div>
  </div>

</div>
