<div id="rightSidebar">
  <div id="contour">
    <p>component #2 - left Sidebar (breakpoint at 992px)</p>
    <div class="content">
      <h2>News</h2>
      <div class="subContent">
        <div class="row">

          <div class="col-4 col-lg-12 noPadding">
            <div class="news">
              <div class="newsTitre">
                <h5>News#1</h5>
              </div>
              <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
            </div>
          </div>

          <div class="col-4 col-lg-12 noPadding">
            <div class="news">
              <div class="newsTitre">
                <h5>News#2</h5>
              </div>
              <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dui leo, tempor sit amet hendrerit
                non, varius eu dui.</a>
            </div>
          </div>

          <div class="col-4 col-lg-12 noPadding">
            <div class="news">
              <div class="newsTitre">
                <h5>News#3</h5>
              </div>
              <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dui leo, tempor sit amet hendrerit
                non, varius eu dui. Nam luctus faucibus lorem ut ornare.</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


